body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-color);
    color: var(--body-text);
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

.container{
    padding: 0 16px;
    margin: 0 auto;
}

/* Header */
.header-container{
    display: flex;
    justify-content: space-between;
}
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
    border-bottom: 1px solid var(--subtle-backgrounds);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--noactive-btn);
}

.studio{
    color: var(--main-color);
}

.navbar{
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 76px;
}

.navbar-list {
    display: none;
    gap: 40px;
    padding: 24px 0 24px; 
}

/* .navbar-item {}  */

.navbar-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
    padding: 24px 0 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active::after {
    position: absolute;
    left: 0;
    bottom: -4px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color:#404BBF;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); ;
}






.navbar-link:hover,
.navbar-link:focus {
    color: var(--active-color);
}
.address {
    display: none;
    align-items: center;
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
} 

/* .address-item */


.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus{
    color: var(--active-color);
}



/* Hero */

.hero {
    max-width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/background/mobile_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--main-color);
    padding: 112px 0;
}

.hero-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    width: 283px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    color: var(--body-color);
}

.button {
    display: block;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--body-color);
    background-color: var(--noactive-btn);
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus{
    background-color: var(--active-color);
}

/* Features */

.features {
padding-top: 96px;
padding-bottom: 120px;
}


.features-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    row-gap: 72px;
    column-gap: 24px;
}

.features-subtitle{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--main-color);
    margin-bottom: 8px;
}

.features-descr {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text);
}


.features-item-icon {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--light-mode-bg);
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--main-color);
}

.descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text);
}

/*  What are we doing */

.services {
    display: none;
    padding-bottom: 120px;
} 

.title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--main-color);
}

.services-list {
    display: flex;
    gap: 24px;
}



/* .services-item {}  */

/* Our team */

.team {
    padding-bottom: 128px;
    padding-top: 96px;
    background-color: var(--light-mode-bg);
}


.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
} 


.team-item {
    max-width: 100%;
    background-color: var(--body-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
}
.team-text{
    text-align: center;
    padding: 32px 14px;
}

.team-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 24px;
    margin-top: 8px;
}




.team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--noactive-btn);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: var(--active-color);
}


.team-social-icon {
    fill: var(--light-mode-bg);
}


/* customer */

.customers {
    padding-top: 96px;
    padding-bottom: 96px;
}
.customers-title{
    line-height: 1.1;
}





.customers-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
}



.customers-item {
    width: calc((100% - 16px) / 2);
    height: 88px;
}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--helper-text);
    border-radius: 4px;
    color: #8e8f99;
    width: 100%;
    height: 100%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus{
    color: #404bbf;
    border-color: var(--active-color);
}



.customer-icon {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover .customer-icon,
.customers-link:focus .customer-icon {
    fill: var(--active-color);
}






/* Footer */

.footer {
    padding-top: 96px;
    padding-bottom: 96px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--main-color);
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--noactive-btn);
}
.footer-logo-studio{
    color: var(--light-mode-bg);
}
.footer-descr {
    text-align: left;
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    color: var(--light-mode-bg);
}
.footer-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.footer-logo-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.footer-media-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.footer-descr-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-color);
    margin-bottom: 16px;
}

.footer-list {
    display: flex;
    gap: 16px;
}

.footer-item { 
    width: 40px;
    height: 40px;
}

.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--noactive-btn);
    border-radius: 50%;  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
    background-color: #31D0AA;
}

.footer-icon {
    fill: var(--light-mode-bg)
}

/* Portfolio */

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.btn-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

/* .btn-item {} */

.buttons {
    padding: 12px 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--noactive-btn);
    background-color: var(--light-mode-bg);
    border: 1px solid var(--subtle-backgrounds);
    border-radius: 4px;
    cursor: pointer; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons:hover,
.buttons:focus{
    box-sizing: border-box;
    color: var(--body-color);
    background-color: var(--active-color);
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px #0000001F, 0px 2px 1px 0px #00000014, 0px 3px 1px 0px #0000001A;
}

.photo-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.photo-item {
    border-color: var(--body-color);
}




.photo-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.photo-link-images {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 40px;
    background-color: #4D5AE5;
    overflow: auto;
    transform: translate(0, 100%);
    transition: transform 250ms linear;
}

.photo-item:hover .overlay,
.photo-item:focus .overlay {
    transform: translate(0, 0);
}

.photo-link:hover,
.photo-link:focus {
    box-shadow: 0px 2px 1px 0px #2E2F4214, 0px 1px 1px 0px #2E2F4229, 0px 1px 6px 0px #2E2F4214;
}
    




.photo-text {
    padding: 32px 16px;
    border: 1px solid var(--subtle-backgrounds);
    border-top: none;
}



/* modal window */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    transform: scale(1);
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),visibility 500ms cubic-bezier(0.4, 0, 0.2, 1),transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }


.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(1.2),
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px;
}

.backdrop.is-hidden .modal{
    transform: translate(0.6);
}


.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    background-color: var(--subtle-backgrounds);
    border: 1px solid var(--helper-text);
    padding: 0;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-close-btn:hover,
.modal-close-btn:focus {
    border-color: var(--active-color);
    background-color: var(--active-color);
}


.modal-close-btn-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
    fill: var(--body-color);
}


.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-bottom: 8px;
    color: var(--main-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input-desc {
    display: block;
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.04em;
    color: var(--helper-text);
}

.modal-text {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-color);
}


.modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: var(--main-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus,
.modal-form-input:hover{
    outline: none;
    border-color: var(--noactive-btn);
}

.modal-form-message {
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid #21212133;
    border-radius: 4px;
    padding: 8px 16px;
    margin-bottom: 16px;
    color: #2E2F42;
    font-size: 12px;
    line-height: 1.33;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message::placeholder {
    font-size: 12px;
    color: #75757580;
}

.modal-form-message:focus {
    outline: none;
    border-color: #4D5AE5;
}



.modal-form-input-wrapper {
    display: block;
    position: relative;
}


.modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: var(--main-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-form-input:focus + .modal-form-input-icon,
.modal-form-input:hover + .modal-form-input-icon {
    fill: var(--noactive-btn);
}


.modal-form-check-desc::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid #2E2F42;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
}
.modal-form-check-desc {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.33;
    color: #757575;
    margin-bottom: 24px;
}

.modal-privacy {
    color: var(--noactive-btn);
    text-decoration: underline;
}
.modal-form-check:checked + .modal-form-check-desc::before {
    background-color: var(--active-color);
    border-color: var(--active-color);
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.modal-form-check:focus + .modal-form-check-desc::before {
    outline: 1px solid var(--active-color);
}
.modal-form-submit {
    align-self: center;
    padding: 16px 32px;
    width: 170px;
    height: 56px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    color: var(--body-color);
    background: var(--noactive-btn);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-submit:hover,
.modal-form-submit:focus {
    background-color: var(--active-color);
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}  




.footer-subscribe {
    text-align: center;
    margin-bottom: 16px;
    line-height: 1.5;
    font-weight: 500;
    color: var(--body-color);
}

.subscribe {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.email {
    width: 100%;
    height: auto;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: var(--body-color);
    border: 1px solid var(--body-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--main-color);
}
.email::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}
.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    height: 40px;
}
.subscribe-button {
    display: flex;
    padding: 8px 24px;
    border: 0;
    border-radius: 4px;
    background-color: var(--noactive-btn);
    color: var(--body-color);
}
.svg {
    margin-left: 16px;
    fill: var(--body-color);
}

/* mobile-menu */
.menu-open {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: 32px;
    height: 22px;
}
.menu-open-icon {
    stroke: var(--main-color);
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-open-icon:hover,
.menu-open-icon:focus {
    stroke: var(--active-color);
}

.mobile-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--body-color);
    top: 0;
    z-index: 1;
    padding-top: 24px;
    padding-right: 24px;
    padding-left: 40px;
    padding-bottom: 40px;
    overflow: hidden;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
}


.menu-close {
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    margin-left: auto;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--subtle-backgrounds);
}
.menu-close:hover,
.menu-close:focus {
    fill: var(--body-color);
    background-color: var(--noactive-btn);
}
.menu-close:active {
    fill: var(--body-color);
    background-color: var(--noactive-btn);
}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 24px;
}

.mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}
.mobile-menu-link:hover,
.mobile-menu-link:focus {
    color: var(--noactive-btn);
}
.mobile-menu-item > .page-active {
    color: var(--noactive-btn);
}


.menu-middle-content {
    margin-top: 200px;
    margin-bottom: 48px;
}

.mobile-menu-tel {
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1;
    text-transform: capitalize;
    color: var(--active-color);
    margin-bottom: 40px;
}



.mobile-menu-email {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--body-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-email:focus,
.mobile-menu-email:hover {
    color: var(--noactive-btn);
}

.mobile-social-list {
    display: flex;
    flex-direction: row;
    gap: 25px;
}


.mobile-social-link {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: var(--noactive-btn);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-social-link:hover,
.mobile-social-link:focus {
    background-color: var(--active-color);
}

.mobile-social-icon {
    fill: var(--body-color);
}


.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero {
        width: 100%;
        background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background/mobile_bg@2x.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}


/* .page-active {} */




/* (../images/check-modal.svg) */