:root {
    --main-color: #2E2F42;
    --active-color: #404BBF;
    --noactive-btn: #4D5AE5;
    --light-mode-bg: #F4F4FD;
    --subtle-backgrounds: #E7E9FC;
    --helper-text: #8E8F99;
    --body-text: #434455;
    --body-color: #FFFFFF;
}
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
}
button {
    cursor: pointer;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-color);
    color: var(--body-text);
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

.container{
    padding: 0 15px;
    width: 1158px;
    margin: 0 auto;
}

/* Header */
.header-container{
    display: flex;
    justify-content: space-between;
}
.header {
    align-items: center;
    border-bottom: 1px solid var(--subtle-backgrounds);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--noactive-btn);
}

.studio{
    color: var(--main-color);
}

.navbar{
    display: flex;
    align-items: center;

}

.header-logo {
    margin-right: 76px;
}

.navbar-list {
    display: flex;
    gap: 40px;
    padding: 24px 0 24px;
}

/* .navbar-item {}  */

.navbar-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
    padding: 24px 0 24px;
}
.navbar-link:hover,
.navbar-link:focus {
    color: var(--active-color);
}
.address {
    display: flex;
    align-items: center;
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
} 

.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text);
}

.address-link:hover,
.address-link:focus{
    color: var(--active-color);
}

/* Hero */

.hero {
    background-color: var(--main-color);
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    color: var(--body-color);
}

.button {
    display: block;
    min-width: 169px;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--body-color);
    background-color: var(--noactive-btn);
    border: none;
    border-radius: 4px;
}

.button:hover,
.button:focus{
    background-color: var(--active-color);
}

/* Features */

.features {
padding-top: 120px;
padding-bottom: 120px;
}


.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: 264px;
} 

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--main-color);
}

.descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text);
}

/*  What are we doing */

.services {
    padding-bottom: 120px;
} 

.title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--main-color);
}

.services-list {
    display: flex;
    gap: 24px;
}



/* .services-item {}  */

/* Our team */

.team {
    padding-bottom: 120px;
    padding-top: 120px;
    background-color: var(--light-mode-bg);
}


.team-list {
    display: flex;
    gap: 24px;
} 


.team-item {
    background-color: var(--body-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
}
.team-text{
    text-align: center;
    padding: 32px 16px;
}

/* Footer */

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--main-color);
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--noactive-btn);
}
.footer-logo-studio{
    color: var(--light-mode-bg);
}
.footer-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    color: var(--light-mode-bg);
}

/* Portfolio */

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.btn-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

/* .btn-item {} */

.buttons {
    padding: 12px 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--noactive-btn);
    background-color: var(--light-mode-bg);
    border: 1px solid var(--subtle-backgrounds);
    border-radius: 4px;
    cursor: pointer;   
}
.buttons:hover,
.buttons:focus{
    box-sizing: border-box;
    color: var(--body-color);
    background-color: var(--active-color);
    border: 1px solid transparent
}
.photo-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.photo-item {
    border-color: var(--body-color);
}

.photo-text {
    padding: 32px 16px;
    border: 1px solid var(--subtle-backgrounds);
    border-top: none;
}


/* Visually-Hidden */

/* .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} */